<style>
    .divider{
        width:15px;
        height:auto;
        display:inline-block;
    }
</style>
<div *ngIf="movie">

    <h2>{{movie.title | uppercase}} Details</h2>
    <div><span>Director: </span>{{movie.director}}</div>
    <div><span>Running Time: </span>{{movie.runningtime}}</div>
    <div><span>Description: </span>{{movie.description}}</div>
    <div><span>Price per item: </span>&pound;{{movie.price}}</div>

    <div>
        <button type="button" class="btn btn-info" (click)="addToCart(movie)">Add to cart</button>
        <div class="divider"></div>
        <button type="button" class="btn btn-info" (click)="removeAll(movie)">Remove all</button>
    </div>

    <div><span>Quantity in cart: </span>{{movie.quantity}}</div>

    <div> 
        <a routerLink="/cart">
            <button type="button" class="btn btn-info">My Cart</button>
        </a>  
        <div class="divider"></div>
        <button type="button" class="btn btn-info" (click)="goBack()">Back</button>
    </div>

</div>
