<style>
    .divider{
        width:15px;
        height:auto;
        display:inline-block;
    }
</style>

<h2>My Cart</h2>
    <div *ngFor="let movie of movies">
        <div *ngIf="movie.quantity">
            <span>{{movie.title}}</span> &nbsp; Quantity in cart: {{movie.quantity}} 
        </div>
    </div>
<div><span>Total price:</span> &nbsp; &pound;{{total_price}}</div>

<div> 
    <a routerLink="/checkout">
        <button type="button" class="btn btn-info">Checkout</button>
    </a>  
    <div class="divider"></div>
    <button type="button" class="btn btn-info" (click)="goBack()">Back</button>
</div>